body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%; 
  height: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

#map svg {
    
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

#map svg circle {
    fill: var(--color);
    fill-opacity: 0.8;
    stroke: white;
    stroke-width: 1px;
    pointer-events: auto;

  }


#controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  
  #time-filter {
    text-align: right;      
    font-size: 0.95rem;
  }
  
  
  #time-slider {
    width: 300px;           
    margin-left: 0.5rem;    
    vertical-align: middle; 
    display: inline-block;  
  }
  
  
  #any-time,
  #time-display {
    display: block;
  }
  
  #any-time {
    color: #888;
    font-style: italic;
  }

  circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }

  #map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend {
    display: flex;
    width: 100%;  
    gap: 1px;               
    margin-block: 1rem;     
    font-size: 0.9rem;
  }
  
  
  .legend > div {
    flex: 1;                
    padding: 0.35rem 0.75rem;
    color: white;           
    text-align: center;
    background-color: var(--color);
  }
  
 